<configuration>
    <springProfile name="!(preprod | prod)">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
    </springProfile>
    <springProfile name="preprod | prod">
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <logger name="jsonLogger" additivity="false" level="DEBUG">
            <appender-ref ref="consoleAppender"/>
        </logger>
    </springProfile>
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>
